{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="shortcut icon" href="{% static 'favicon.ico' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'dropzone.css' %}"> -->
    <!-- <script src="{% static 'dropzone.js' %}" defer></script> -->
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Report PDF</title>
  </head>
  <body>
     <div class="report-container">
        <h1>Report {{ report.name }}</h1>
        <p>{{ report.description }}</p>
        <p>Date: {{ report.generated_at }}</p>
        <img src="{{ report.image.url }}" class="report-image" alt="Report Image">
    </div>
  </body>
</html>
