{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% comment %} <link rel="stylesheet" href="{% static 'style.css' %}" /> {% endcomment %}
    <title>Rapport PDF</title>
  </head>
  <body>
     <div class="report-container">
        <h1>Rapport {{ report.name }}</h1>
        <p>{{ report.description }}</p>
        <p>Date: {{ report.generated_at }}</p>
        <h2>Graphique des connexions par statut</h2>
        <img src="{{ report.image.path }}" class="report-image" alt="Report Image">
        <h2>Graphique des connexions par heure</h2>
        <img src="{{ report.image_par_heure.path }}" class="report-image" alt="Graphique des connexions par heure">
    </div>
  </body>
</html>
