* {
    margin: 0;
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
}

.main{
      display: flex !important;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    text-decoration: underline;
}

.sidebar {
    width: 200px;
    background-color: #555;
}

.container {
    flex: 1;
    margin: 0;
}
.sidebar a {
  display: block;
  background-color: #555;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:active {
  color: #04AA6D;
}

.sidebar a:hover{
  background-color: #555;
  color: #04AA6D;
}

.report-container {
  width: 100%;
  text-align: center;
}
.report-image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
